<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.hypeproof.sediment.dream</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>-l</string>
    <string>-c</string>
    <string>cd /Users/jaylee/CodeWorkspace/hypeproof/products/sediment/services/sediment &amp;&amp; .venv/bin/python -m scripts.cron.dream &gt;&gt; .cron.log 2&gt;&amp;1</string>
  </array>

  <!-- Sundays at 02:00 -->
  <key>StartCalendarInterval</key>
  <dict>
    <key>Weekday</key><integer>0</integer>
    <key>Hour</key><integer>2</integer>
    <key>Minute</key><integer>0</integer>
  </dict>

  <key>RunAtLoad</key><false/>
  <key>StandardOutPath</key>
  <string>/tmp/curator-dream.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/curator-dream.err</string>
</dict>
</plist>
